
        {% comment %} <form action="/reservations/process" method="POST"> {% endcomment %}
        {% comment %} <form action="{% url 'reservations:process_form' %}" method="POST">
            {% csrf_token %}
            <p>Id: <input type="text" name="id"></p>
            <p>Name: <input type="text" name="name"/></p>
            <input type="submit" />
        </form> {% endcomment %}

        <html>
            <body>
                <form action="{% url 'reservations:process_form' %}" method='POST'>
                    {% csrf_token %}
                    <table>
                        {{ form }}
                        <input type='submit' value='Ok'/>
                    </table>
                </form>
            </body>
        </html>


